.container {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 3rem;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 65%;
}

button{
  display: block;
  margin: auto;
  width: 20%;
  font-size: 2rem;
  color: #4ECCA3;
  text-shadow: 2px 0 #232931;
  font-family: 'Lobster', cursive;
  border-radius: 10px;
  cursor: pointer;
  border-color: #4ECCA3;
}
